<!DOCTYPE html>
<html>
<head>
    <title>Mon formulaire</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="chaine">Sequence 1:</label>
        <input type="text" name="chaine" id="chaine">
        
        {% comment %} <input type="submit" name="Ajouter" value="Ajouter">
        <input type="submit" name="Convertir" value="Convertir"> {% endcomment %}
        <button name="Ajouter" type="submit" value="Ajouter">Ajouter</button>
        <button name="Convertir" type="submit" value="Convertir">Convertir</button>
    </form>
</body>
</html>
